{% extends 'transatlantic/base.html' %}

{% block title %}Add Page{% endblock %}

{% block body_block %}
<div class="jumbotron">
        <h1>Add a Note</h1>
    
    </br>
    
<!--in bootstrap.min.css check "$textarea,.uneditable-input{width:206px}" for where I overwrote the
mandatory form width formatting-->

    <div class="container">
        <form id="category_form" method="post" action="/transatlantic/category/{{category_name_url}}/add_page/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}


            {% for field in form.visible_fields %}
            <div class="form-group">   
                
                <label>{{ field.help_text }}</label>
              	{{ field }}
                {{ field.errors }}

			</div>
			
                {% endfor %}
             
             <!-- <input type="hidden" name="drafter" value="{{ user.user }}" />   -->                
            
            <button class="btn btn-primary" type="submit" name="submit">Create Note</button>
        </form>
    </div>
</div>
{% endblock %}