{% extends 'transatlantic/base.html' %}

{% block body_block %}
<div class="jumbotron">
    <h1>Add a Story</h1>
    <br/>
    <div class="container">
        <form class="col-md-10" id="CategoryForm" method="post" action="/transatlantic/add_category/" role="form">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

			
			{% for field in form.visible_fields %}
			<div class="form-group">
 			
 			<label>{{ field.help_text }}</label>
 			{{ field }}
 			{{ field.errors }}
 			
 			</div>
 			
            {% endfor %}

            <button class="btn btn-primary" type="submit" name="submit">Create Story</button>
        </form>
    </div>
</div>
{% endblock %}