{% extends 'transatlantic/base.html' %}

{% block body_block %}
<div class="jumbotron">
    <h1>Update your profile</h1>
    <br />

    <div class="container">
      
       <form class="form-signin col-md-12" id="profile_form" method="post" action="/transatlantic/edit/"
              enctype="multipart/form-data">

            {% csrf_token %}
            <!-- Display each form here -->

            {% for hidden in profile_form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in profile_form.visible_fields %}
          
            <div class="form-group">
            <label>{{ field.help_text }}</label>
            {{ field }}
            {{ field.errors }}
			</div>
            {% endfor %}

            <br />
            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Update away"/>
        </form>
    </div>
</div>
{% endblock %}