{% extends 'rango/base.html' %}

{% block title %}{% endblock %}


 {% block body_block %}
       
		{% if user.is_authenticated %}
	<h1>Rango says... hello {{ user.username }}!</h1>
		{% else %}
	<h1>Rango says... hello world!</h1>
		{% endif %}
		
		<p>Here are the top 5 categories:</p>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <br />
            <p>Here are the top 5 pages:</p>
        {% if pages %}
        	<ul>
        		{% for page in pages %}
        		<li><a href="{{page.url}}">{{ page.title}}</a></li>
        		{% endfor %}
        	</ul>
        {% endif %}
        
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

{% endblock %}  
